---
import Section from "../Section/Section.astro";
---

<Section id="content">
  <div class="h-[120vh]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
    voluptatibus quod? Veritatis dolore nihil asperiores excepturi a! Maxime
    doloremque eligendi distinctio, itaque, aspernatur facilis recusandae
    deserunt animi dolores, cupiditate at?
  </div>
</Section>
