---
import ButtonsList from "../Buttons/ButtonsList.astro";
import HeroImage from "./HeroImage.astro";
import PrimaryButton from "../Buttons/PrimaryButton.astro";
import SecondaryButton from "../Buttons/SecondaryButton.astro";
---

<!-- Cambiar textos!!!!! --><!-- TODO: Cambiar links -->
<section
  class="relative
  items-center
   mx-auto
     max-w-screen-xl
  
  pb-12 px-4 pt-10
  lg:flex
  md:px-8
  h-[75vh]
  min-h-[600px]
  max-h-[700px]"
  
>
  <div class="w-full sm:w-1/2 space-y-4 p-6 xl:p-0 text-left">
    <!-- Mejorar estilo del h1 -->
    <h1 class="text-[--text-color-primary] font-bold text-4xl xl:text-7xl">
      Deja que

      <span
        class="text-[--primary-color] bg-[--secondary-color] rounded-xl p-2 inline-block"
      >
        Startes
      </span> transforme tu vida
    </h1>
    <p
      class="text-[--text-color-primary] max-w-xl leading-relaxed sm:mx-auto lg:ml-0"
    >
      Transforma tu hogar con energía solar. Descubre la instalación de placas
      solares en España y ahorra en tus facturas mientras cuidas el planeta.
    </p>
    <ButtonsList>
      <SecondaryButton>
        <a href=""> Calcula el precio </a>
      </SecondaryButton>
      <PrimaryButton>
        <a href="">
          <!-- TODO: Cambiar tipografía -->
          Contáctanos
        </a>
      </PrimaryButton>
    </ButtonsList>
  </div>
  <div
    class="absolute -z-10 top-1/2 right-0 transform -translate-y-1/2 h-full p-10"
  >
    <HeroImage />
  </div>
</section>

<!-- TODO: O hacer el hero menos alto, o poner una animacion de una flechita para abajo, para indicar que se puede ir apar abajo -->
