---

---

<!-- TODO: añadir hover -->
<div
  class="px-6 py-3 bg-[--background-color] border-2 border-[--text-color-primary] text-[--text-color-primary] text-center rounded-lg block"
>
  <slot />
</div>
