---

---

<!-- TODO: añadir hover -->
<div
  class="px-6 py-3 w-full bg-[--background-color] text-[--primary-color] border-2 border-[--primary-color] text-center rounded-lg block sm:w-auto"
  class="px-6 py-3 w-full bg-[--primary-color] text-[--background-color] text-center rounded-lg block sm:w-auto"
>
  <slot />
</div>
