---

---

<!-- TODO: añadir hover -->
<div
  class="px-6 py-[0.6rem] bg-[--background-color] text-[--primary-color] border-2 border-[--primary-color] text-center rounded-lg block"
>
  <slot />
</div>
