---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.astro";
---

<!-- TODO: Cambiar titulo y descripción por SEO -->
<Layout
  title="Contacto"
  description="Descubre nuestro equipo de instalación de placas solares"
>
  <Section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum facilis
    eligendi dolores reiciendis consectetur aperiam, optio mollitia dolore sint
    expedita, nesciunt perferendis cum, voluptatibus velit praesentium eius est
    corporis excepturi?
  </Section>
</Layout>
