---
import type { PageList } from "../../interfaces/pagesList";
import ThemeIcon from "../ThemeIcon.astro";

const { pages } = Astro.props as PageList;
---

<!-- TODO: Cambiar urls -->
<!-- TODO:Cambiar en mobil por select, así mejoramos responsive -->
<ul
  class="py-4 flex flex-col gap-4 sm:items-center sm:flex-row sm:w-full justify-end"
>
  {
    pages.map((page) => (
      <li>
        <a
          href={page.path}
          class="flex items-center text-[--text-color-primary]"
        >
          {page.name}
        </a>
      </li>
    ))
  }

  <li>
    <ThemeIcon />
  </li>
</ul>
