---

---

<!-- TODO: cambiar los enlaces port el links a las página que hagamos -->
<footer class="pt-10">
  <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
    <div class="space-y-6 sm:max-w-md sm:mx-auto sm:text-center">
      <!-- TODO: Añadir logo bueno de Startes. Hay que hacer uno nuevo particiendo del original. -->
      <!-- TODO: Responsive del icono (hacer más pequeño o a la izq del texto) -->
      <img src="https://cdn-icons-png.flaticon.com/512/9908/9908191.png" class="w-32 sm:mx-auto" />
      <p>Obtén un presupuesto para tu instalación de placas solares</p>
      <div
        class="items-center gap-x-3 space-y-3 sm:flex sm:justify-center sm:space-y-0"
      >
      <!-- TODO: ajustar colores para mejroar el contraste  -->
        <a
          href=""
          class="block py-2 px-4 text-center text-white font-medium bg-[#95C11F] duration-150 hover:bg-indigo-500 active:bg-indigo-700 rounded-lg shadow-lg hover:shadow-none"
        >
          Ir a la calculadora solar
        </a>
        <a
          href=""
          class="flex items-center justify-center gap-x-2 py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg md:inline-flex"
        >
          Contacta con nosotros
          <!-- TODO: Cambiar por biblioteca de componentes de iconos -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    
    <div class="mt-10 py-10 border-t items-center justify-between sm:flex">
      <p>© 2024 Startes. All rights reserved.</p>
      <!-- TODO: Cambiar esta lista por map de un componente. El componente se puede definir en esta hoja -->
      <ul class="flex flex-wrap items-center gap-4 mt-6 sm:text-sm sm:mt-0">
        <li class="text-gray-800 hover:text-gray-500 duration-150">
          <a href="">Términos</a>
        </li>
        <li class="text-gray-800 hover:text-gray-500 duration-150">
          <a href="">Contácto</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
