---

---

<header class="bg-lime-200">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-black mb-4 md:mb-0">
            <img src="/images/logoStart1.png" alt="Logo" class="w-20 h-20 text-black p-2 rounded-full"/>
            <span class="ml-3 text-4xl font-bold">START</span>
        </a>
        
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-betwen text-base justify-center">
            <a href="#section1" class="mr-5 hover:text-gray-800">SERVICIOS</a>
            <a href="#section2" class="mr-5 hover:text-gray-800">CONTACTA</a>
            <a href="#section3" class="mr-5 hover:text-gray-800">SIMULADOR</a>
            <a href="#section3" class="mr-5 hover:text-gray-800">NOSOTROS</a>
        </nav>
    </div>
</header>
