---
import ThemeIcon from "./ThemeIcon.astro";
---

<!-- TODO: Cambiar urls --><!-- TODO: No me convence el header. Sobretodo con la combinacion con el Hero. Tal vez haya que cambiar el fondo para que no sea plano y sea un degradado. Se puede quitar la linea verde de separación -->
<header class="border-b-2 border-[var(--primary-color)]">
  <nav
    class="items-center pt-5 px-4 mx-auto max-w-screen-xl sm:px-8 sm:flex sm:space-x-6"
  >
    <a href="javascript:void(0)">
      <!-- TODO: cambiar imagen por logo nuevo (hay que hacerlo) -->
      <!-- TODO: Responsive del icono (hacer más pequeño o a la izq del texto) -->
      <img
        src="https://cdn-icons-png.flaticon.com/512/9908/9908191.png"
        width="120"
        height="50"
        alt="Startes logo"
      />
    </a>
    <ul
      class="py-4 flex-1 items-center flex space-x-3 sm:space-x-6 sm:justify-end"
    >
      <!-- TODO: Cambiar por map de componenentes -->
      <li>
        <a href="" class="flex items-center text-[--text-color-primary]">
          Calculadora solar
        </a>
      </li>
      <li>
        <a href="" class="flex items-center text-[--text-color-primary]"> Nosotros </a>
      </li>
      <li>
        <a href=""  class="flex items-center text-[--text-color-primary]"> Contacto </a>
      </li>
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
</header>
