---

---

<!-- Cambiar textos!!!!! --><!-- TODO: Cambiar links -->
<div>
  <section
    class="mx-auto max-w-screen-xl pb-12 px-4 pt-10 lg:pt-0 items-center lg:flex md:px-8"
  >
    <div class="flex-1 space-y-4 sm:text-center lg:text-left">
      <!-- Mejorar estilo del h1 -->
      <h1 class="text-[--text-color-primary] font-bold text-4xl xl:text-7xl">
        Deja que

        <span
          class="text-[--primary-color] bg-[--secondary-color] rounded-xl p-2 inline-block"
        >
          Startes
        </span> transforme tu vida
      </h1>
      <p
        class="text-[--text-color-primary] max-w-xl leading-relaxed sm:mx-auto lg:ml-0"
      >
        Transforma tu hogar con energía solar. Descubre la instalación de placas
        solares en España y ahorra en tus facturas mientras cuidas el planeta.
      </p>
      <div
        class="pt-10 items-center justify-center space-y-3 sm:space-x-6 sm:space-y-0 sm:flex lg:justify-start"
      >
        <a
          href=""
          class="px-7 py-3 w-full bg-white text-gray-800 text-center rounded-md shadow-md block sm:w-auto"
        >
          Calcula el precio
        </a>
        <a
          href=""
          class="px-7 py-3 w-full bg-[#41540D] text-gray-200 text-center rounded-md block sm:w-auto"
        >
          Contáctanos
        </a>
      </div>
    </div>
    <div class="flex-1 text-center mt-7 lg:mt-0 lg:ml-3">
      <!-- TODO: quitar fondo de la imagen. Cambiar imagen por una mas imponente. Puede ser mas hancha -->
      <img
        src="/images/landing.svg"
        class="p-20 w-full mx-auto sm:w-10/12 lg:w-full"
      />
    </div>
  </section>
  <!-- TODO: O hacer el hero menos alto, o poner una animacion de una flechita para abajo, para indicar que se puede ir apar abajo -->
</div>
