@tailwind base;
@tailwind components;
@tailwind utilities;

/* This indicates that it will be executed before any other CSS rules */

/* TODO: (NO URGENTE) Añadir animaciones para el cambio de temas */
@layer base {

    /* To put global variables you have to do it in tailwind.config.mjs */

    /* TODO: seleccionar los colores difinitos. Que tengan buen contraste el primary y el oscuro */

    /* Styles vars for light theme */
    :root[data-theme="light"] {
        --primary-color: #455e00;
        --secondary-color: #b0e02b;
        --background-color: #e4eee7;
        --text-color-primary: #172000;
        --text-color-secondary: #757575;

    }

    /* Styles vars for dark theme */
    :root[data-theme="dark"] {
        --primary-color: #acdd27;
        --secondary-color: #3f4e15;
        --background-color: #191c1c;
        --text-color-primary: #d5f0dd;
        --text-color-secondary: #707070;


    }

    body {
        background-color: var(--background-color);
    }

}